/*
 * -------------------------------------------------
 *  nf-core/proteomicslfq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {
	input = '/home/qinchunyuan/proteomicsDIA/Benchmarks/PXD004684.sdrf.tsv'
	database = '/home/qinchunyuan/proteomicsDIA/fasta/human_UP000005640.fasta'
	diann = '/home/qinchunyuan/proteomicsDIA/DiaNN/usr/diann/1.8/diann-1.8'
	openms_parse = '/home/qinchunyuan/proteomicsDIA/openms_parse.py'
	outdir = '/home/qinchunyuan/benchmarks/'
	unimod = '/home/qinchunyuan/proteomicsDIA/unimod.csv'
	trans_to_mastats = '/home/qinchunyuan/proteomicsDIA/Benchmarks/trans_to_msstats.py'
	allowed_missed_cleavages = 1
	precursor_mass_tolerance = 10
	fragment_mass_tolerance = 20
	min_peptide_length = 7
 	max_peptide_length = 30
	min_precursor_charge = 1
  	max_precursor_charge = 4
	min_pr_mz = 450
	max_pr_mz = 1080
	min_fr_mz = 450
	max_fr_mz = 1080
	// max_var_mods = 0
	max_cpus = 8
}
